/* small window */
@media screen and (min-width: 240px) {
  .main section {
    margin: 20px 15%;
    width: 70%;
    float: center;
  }
}

/* desktop */
@media screen and (min-width: 720px) {
  .main section {
    margin: 20px 5%;
    width: 20%;
  }

  .main {
    margin: inherit 10%;
  }
   
  .main section:nth-child(5n) {
    clear: left;
  }
   
}
