/****************
HEADING
****************/

header {
  margin: 100px auto;
}

h1 {
  display: block;
  font-family: 'Bungee Inline', cursive;
  font-size: 3.0em;
  text-align: center;
}

/****************
LISTS
****************/

@media screen and (min-width: 240px) and (max-width: 839px) {
  .container-1 div, .container-2 div, .container-3 div {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 840px) {
  .container-1, .container-2, .container-3 {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
  }
  .container-1 div, .container-2 div, .container-3 div {
    margin-left: 2%;
    margin-right: 2%;
  }
}

.unbenotet, .benotet, .teilnoten, .email, .wichtiges {
  flex: 1;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  width: 100%;
  text-align: center;
  border-radius: 6px 6px 0px 0px;
  margin: 0;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 6px 6px;
  margin: 0;
}

ul {
  margin: 0;
  padding: .125em 0;
  text-align: center;
  list-style: none;
}

.email ul {
  border-radius: 0px 0px 6px 6px;
}

a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  text-decoration: none;
}

/****************
COLORS
****************/

body {
  /*background-image: url("Logo.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;*/
  background-color: #2B303B;
  color: #EFF1F5;
}

body a, body a:visited {
  color: #65737E;
}

body a:hover {
  color: #96B5B4;
}

ul {
  background-color: #EFF1F5;
}

h4 {
  background-color: #BC5252;
}

.teilnoten h3 {
  background-color: #99dd11;
}

.benotet h3 {
  background-color: #00bb11;
}

.unbenotet h3 {
  background-color: #A3BE8C;
}

.wichtiges h3 {
  background-color: #AB7967;
}

.email h3 {
  background-color: #004d00;
}